@page "/"

<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="https://assets.pikiran-rakyat.com/crop/0x0:0x0/x/photo/2021/09/15/2984435617.jpg" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Dito Adriel</h5>
    <p class="card-text">TUgas UNtuk Uas</p>
  </div>
</div>